/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Baskervville:400i|Bentham|PT+Serif:400,400i&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix:after{
    content: '';
    display: block;
    clear: both;
}

img{
    vertical-align: top;
}

/* Typography */
/*
 font-family: 'Bentham', serif;
 font-family: 'Baskervville', serif;
 font-family: 'PT Serif', serif;
*/

body{
    font-family: 'PT Serif', serif;
    font-size: 18px;
    line-height: 34px;
    color:#6f6f6f;
}
h1,h2{font-family: 'Bentham', serif;}
h3{font-family: 'PT Serif', serif;}
/* Layout */
.content {width: 640px; margin: auto auto;}

/* Header */
header{
    height: 600px;
    background: url(../images/header_bg.jpg) no-repeat center top / cover;
    text-align: center;
    color: #fff;
    padding-top: 60px;
    box-sizing: border-box;
}
header h1{
    border: 1px solid #fff;
    display: inline-block;
    font-size:30px;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    padding: 0 20px;
    line-height: 51px
}
header h2{
    font-size: 60px;
    line-height: 72px;
    width: 670px;
    margin: 126px auto 15px;    
}
header h2 span{
    font-family: 'Baskervville', serif;
    font-style: italic;
}
header p{
    font-size: 20px;
    font-family: 'PT Serif', serif;
    font-style: italic;
}

/* Main Content */

.content{padding: 100px 0;}
.content h2{
    font-size: 42px;
    letter-spacing: 0.08em;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    color: #444;
}
.content h3{
    text-align: center;
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #444;
    margin: 25px 0 50px;
}
.content p{
    margin-bottom: 34px;
}
.content p em{
    color: #e3514e;
}

.content p:last-of-type{
    margin-bottom: 50px;    
}
.content ul{
    width: 100%;
    border: 1px solid #838383;
}
.content li{
    width: 25%;
    line-height: 52px;
    text-align: center;
    float: left;
    border-right: 1px solid #838383;
    box-sizing: border-box;
    transition: .5s;
}
.content li:last-of-type{
    border-right: none;
}
.content ul li a{
    display: block;
    text-decoration: none;
    color: #555;
}
.content ul li:hover a{
    background: #e3514e;
    color: #fff;
    transition: .5s;
    cursor: pointer;
}
/* Footer */

footer p{
    font-size: 14px;
    font-family: 'PT Serif', serif;
    line-height: 66px;
    text-align: center;
    background: #555;
    color: #fff;
}





